/* link, visited,hover,active (order should be maintained*/

a:link{
    color: blueviolet;
}
a:visited{
    color: brown;
}
a:hover{
    color: bisque;
}
a:active{
    color: black;
}
p:hover{
    color: pink;
}